//SWIFT_ACTIVE_COMPILATION_CONDITIONS=PROD
OTHER_SWIFT_FLAGS[config=PROD][sdk=*] = $(inherited) -PROD
GCC_PREPROCESSOR_DEFINITIONS = PROD=1 DEV=0
GCC_PREPROCESSOR_DEFINITIONS="FLEXLAYOUT_SWIFT_PAKAGE=1"
OTHER_LDFLAGS[config=PROD][sdk=*] = $(inherited) -Xlinker -interposable

OTHER_LDFLAGS=-ObjC

HEADER_SEARCH_PATHS=$(inherited) $(SRCROOT)/Tuist/Dependencies/SwiftPackageManager/.build/checkouts/GoogleSignIn/Sources/Public $(SRCROOT)/Tuist/Dependencies/SwiftPackageManager/.build/checkouts/AppAuth-iOS/Source/AppAuth $(SRCROOT)/Tuist/Dependencies/SwiftPackageManager/.build/checkouts/AppAuth-iOS/Source/AppAuthCore $(SRCROOT)/Tuist/Dependencies/SwiftPackageManager/.build/checkouts/gtm-session-fetcher/Source/SwiftPackage $(SRCROOT)/Tuist/Dependencies/SwiftPackageManager/.build/checkouts/GoogleSignIn/Sources/../../ $(SRCROOT)/Tuist/Dependencies/SwiftPackageManager/.build/checkouts/GTMAppAuth/GTMAppAuth/Sources/Public/GTMAppAuth

CODE_SIGN_IDENTITY = Apple Distribution
PROVISIONING_PROFILE_SPECIFIER = match AppStore com.connectCrew.TeamOne
DEVELOPMENT_TEAM = 5QNWYK9LQY
CODE_SIGN_STYLE = Manual
